.table-link {
    text-decoration: none;
    color: #6068c0;
    cursor: pointer;
}



.mr-3 {
    margin-right: 36px;
  }
  

.my-input {
    width: 900px; /* Customize the width as per your requirement */
  }