<mat-dialog-content class="mat-typography">
    <form [formGroup]="serviceCallForm">


        <!--  <mat-form-field>
            <input matInput placeholder="Call Number" name="call_number" formControlName="call_number">
        </mat-form-field> -->

        <mat-form-field>
            <mat-label>Problem</mat-label>
            <input matInput placeholder="Description" formControlName="service_description" readonly>
        </mat-form-field>
        <div>Created by: {{ data.added_by_username }} - {{ data.added_on | date:'MM/dd/yyyy HH:mm:ss' }}</div>

        <!-- <mat-form-field>
            <mat-label>Customer</mat-label>
            <mat-select name="customer" formControlName="customer">
                <mat-option value="customer1">Customer 1</mat-option>
                <mat-option value="customer2">Customer 2</mat-option>
                <mat-option value="customer3">Customer 3</mat-option>
            </mat-select>
        </mat-form-field> -->
        <!--  <mat-form-field>
        <mat-label>Customers</mat-label>
        <mat-select formControlName="customer_id"  (selectionChange)="onCustomerChange()" >
            <mat-option *ngFor="let customer of customers" [value]="customer.customer_id">{{customer.customer_name}}</mat-option>
        </mat-select>
        <mat-error *ngIf="serviceCallForm.get('customer_id')?.hasError('required')">
            customer is required
        </mat-error>
        </mat-form-field> -->

        <!--  <mat-form-field appearance="fill" class="full-width">
                <mat-label>Cust</mat-label>
                <input matInput formControlName="customer_id" [matAutocomplete]="auto" [displayWith]="displayCustomerName" required (input)="onInput($event)" >
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onCustomerChange()">
                    <mat-option *ngFor="let cust of filteredCustomer" [value]="cust.customer_id">
                        {{ cust.customer_name }}
                    </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="serviceCallForm.get('customer_id')?.hasError('required')">
                    Customer is required
                </mat-error>
            </mat-form-field> -->


        <mat-form-field>
            <mat-label>Customer</mat-label>

            <input matInput formControlName="customer_id">
        </mat-form-field>



        <mat-form-field>
            <mat-label>Location</mat-label>
            <!-- <mat-select name="location" formControlName="location_id" >
              <mat-option *ngFor="let location of locations" [value]="location.id">{{ location.city}}</mat-option>
            </mat-select> -->
            <input matInput placeholder="Address" formControlName="location_id">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Address</mat-label>
            <input matInput placeholder="Address" formControlName="address">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Contact</mat-label>
            <input matInput placeholder="Contact" formControlName="contact_name">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Phone</mat-label>
            <input matInput placeholder="Phone" formControlName="contact_phone">
        </mat-form-field>

        <mat-form-field>
            <mat-label>E mail</mat-label>
            <input matInput placeholder="Email" formControlName="contact_email">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Call Date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="note_ts">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Call Type</mat-label>
            <mat-select name="call_type" formControlName="type_call_short">
                <mat-option value="ANNUAL SERVICE">ANNUAL SERVICE</mat-option>
                <mat-option value="BILL LABOR ONLY">BILL LABOR ONLY</mat-option>
                <mat-option value="BILL PARTS ONLY">BILL PARTS ONLY</mat-option>
                <mat-option value="CANCELLED">CANCELLED</mat-option>
                <mat-option value="CONTRACT BILLABLE">CONTRACT BILLABLE</mat-option>
                <mat-option value="EMERGENCY">EMERGENCY</mat-option>
                <mat-option value="GENERATED MAINT">GENERATED MAINT</mat-option>
                <mat-option value="INSTALLATION">INSTALLATION</mat-option>
                <mat-option value="MAINTENANCE">MAINTENANCE</mat-option>
                <mat-option value="MPS">MPS</mat-option>
                <mat-option value="NON-BILLABLE">NON-BILLABLE</mat-option>
                <mat-option value="PENDING">PENDING</mat-option>
                <mat-option value="PREVENTATIVE">PREVENTATIVE</mat-option>
                <mat-option value="PROJECT">PROJECT</mat-option>
                <mat-option value="PROJECT-A">PROJECT-A</mat-option>
                <mat-option value="PROJECT-I">PROJECT-I</mat-option>
                <mat-option value="SARN WARRANTY">SARN WARRANTY</mat-option>
                <mat-option value="SUB-CONTRACT">SUB-CONTRACT</mat-option>
                <mat-option value="TESTING">TESTING</mat-option>
                <mat-option value="TIME & MATERIAL">TIME & MATERIAL</mat-option>
                <mat-option value="TIME & MATERIAL MC">TIME & MATERIAL MC</mat-option>
                <mat-option value="TIME & MATERIAL P1">TIME & MATERIAL P1</mat-option>
                <mat-option value="WARRANTY">WARRANTY</mat-option>

            </mat-select>
        </mat-form-field>
        <!--    <mat-form-field>
            <mat-label>Equip </mat-label>
            <mat-select formControlName="eq_master_id"  >
                <mat-option *ngFor="let eq of equipment" [value]="eq.id">{{eq.serial_number}}</mat-option>
            </mat-select>
            <mat-error *ngIf="serviceCallForm.get('eq_master_id')?.hasError('required')">
                equipment is required
            </mat-error>
        </mat-form-field> -->


        <mat-form-field appearance="fill" class="full-width">
            <mat-label>EquipId</mat-label>
            <input matInput formControlName="eq_master_id">
        </mat-form-field>





        <mat-form-field>
            <mat-label>Owner</mat-label>
            <mat-select formControlName="call_owner">
                <mat-option *ngFor="let user of allUsers " [value]="user.id">{{user.username}}</mat-option>
            </mat-select>
            <mat-error *ngIf="serviceCallForm.get('owner')?.hasError('required')">
                Owner is required
            </mat-error>
        </mat-form-field>


        <mat-form-field>
            <mat-label>Priority</mat-label>
            <mat-select name="priority" formControlName="priority_of_call">
                <mat-option value="4hours">4 hours</mat-option>
                <mat-option value="critical">Critical</mat-option>
                <mat-option value="escalated">Escalated</mat-option>
                <mat-option value="Normal">Normal</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Customer ref no.</mat-label>
            <input matInput placeholder="Customer Ref No." name="cust_ref_no" formControlName="cust_ref_no">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Customer PO</mat-label>
            <input matInput placeholder="Customer PO" formControlName="purchase_order">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Customer Call ID</mat-label>
            <input matInput placeholder="Customer Call ID" formControlName="customer_call_id">
        </mat-form-field>
        <mat-form-field>
            <mat-label>HP Work Order</mat-label>
            <input matInput placeholder="HP Work Order" formControlName="HP_Work_Order">
        </mat-form-field>


        <mat-form-field>
            <mat-label>Invoice</mat-label>
            <input matInput placeholder="invoice" name="invoice" formControlName="invoice">
        </mat-form-field>
        <!-- <mat-form-field>
            <mat-label>Timepicker</mat-label>
            <input matInput [matTimepicker]="pickero" placeholder="Select time">
            <mat-timepicker #pickero></mat-timepicker>
        </mat-form-field> -->



        <mat-form-field>
            <mat-label>Technician</mat-label>
            <mat-select formControlName="technician_id">
                <mat-option *ngFor="let t of techi " [value]="t.id">{{t.tech_long_name}}</mat-option>
            </mat-select>
            <mat-error *ngIf="serviceCallForm.get('technician')?.hasError('required')">
                Technician is required
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Call Status</mat-label>
            <mat-select formControlName="status_of_call">
                <mat-option value="audit">AUDIT</mat-option>
                <mat-option value="closed">CLOSED</mat-option>
                <mat-option value="inItialize">INITIALIZE</mat-option>
                <mat-option value="Open Calls">OPEN</mat-option>
                <mat-option value="pending">PENDING</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Service Date</mat-label>
            <input matInput [matDatepicker]="ticker" formControlName="note_ts">
            <mat-datepicker-toggle matSuffix [for]="ticker"></mat-datepicker-toggle>
            <mat-datepicker #ticker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Alarm Date</mat-label>
            <input matInput [matDatepicker]="tickerp" formControlName="alarm_date">
            <mat-datepicker-toggle matSuffix [for]="tickerp"></mat-datepicker-toggle>
            <mat-datepicker #tickerp></mat-datepicker>
        </mat-form-field>
        <!-- <mat-form-field>
            <mat-label >Alarm Time</mat-label> -->
        <!-- <input matInput [matDatepicker]="tickerp" formControlName="alarm_set_time">
            <mat-datepicker-toggle matSuffix [for]="tickerp"></mat-datepicker-toggle>
            <mat-datepicker #tickerp></mat-datepicker> -->
        <!-- </mat-form-field>         -->
            <label>Alarm Time</label>
            <input [type]="'time'" formControlName="alarm_time" />



        <mat-form-field>
            <mat-label>Initial Appt Status</mat-label>
            <mat-select name="tech_support" formControlName="appointment_status">
                <mat-option value="AUDIT">AUDIT</mat-option>
                <mat-option value="CANCELLED">CANCELLED</mat-option>
                <mat-option value="CLOSED">CLOSED</mat-option>
                <mat-option value="COMPLETE">COMPLETE</mat-option>
                <mat-option value="CUST RESPONSE">CUST RESPONSE</mat-option>
                <mat-option value="DEFAULT">DEFAULT</mat-option>
                <mat-option value="DISPATCHED">DISPATCHED</mat-option>
                <mat-option value="FIXED">FIXED</mat-option>
                <mat-option value="IN ROUTE">IN ROUTE</mat-option>
                <mat-option value="LMS RESPONSE">LMS RESPONSE</mat-option>
                <mat-option value="PARTS ORDER">PARTS ORDER</mat-option>
                <mat-option value="PARTS TRACK">PARTS TRACK</mat-option>
                <mat-option value="PENDING">PENDING</mat-option>
                <mat-option value="QUOTE">QUOTE</mat-option>
                <mat-option value="RE-ASSIGN">RE-ASSIGN</mat-option>
                <mat-option value="SARN RESPONSE">SARN RESPONSE</mat-option>
                <mat-option value="SEND FSR">SEND FSR</mat-option>
                <mat-option value="SEND TECH">SEND TECH</mat-option>
                <mat-option value="SHOP REPAIR">SHOP REPAIR</mat-option>
                <mat-option value="TECH REVIEW">TECH REVIEW</mat-option>
                <mat-option value="TECH SUPPORT">TECH SUPPORT</mat-option>
                <mat-option value="UNASSIGNED">UNASSIGNED</mat-option>
                <mat-option value="UPDATE">UPDATE</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field style="width: 400px;">
            <mat-label>Special Notes</mat-label>

            <textarea matInput placeholder="Enter your text here" rows="3" formControlName="special_notes"></textarea>
        </mat-form-field>
        <mat-form-field style="width: 400px;">
            <mat-label>Location Notes</mat-label>

            <textarea matInput rows="3" formControlName="location_notes" #locationNotesTextarea readonly></textarea>
        </mat-form-field>

        <mat-form-field style="width: 400px;">
            <mat-label>Equipment Notes</mat-label>

            <textarea matInput rows="3" formControlName="equipment_notes" #equipmentNotesTextarea readonly></textarea>
        </mat-form-field>
        <mat-form-field style="width: 400px;">
            <mat-label>Contract Notes</mat-label>

            <textarea matInput rows="3" formControlName="contract_notes" readonly></textarea>
        </mat-form-field>
        <mat-checkbox formControlName="tag">Tag</mat-checkbox>
        <mat-checkbox formControlName="tech_support">Tech Support</mat-checkbox>
        <mat-checkbox formControlName="logistic">Logistics</mat-checkbox>
        <!-- <mat-checkbox formControlName="audit_entire_call">Audit Entire Call</mat-checkbox> -->



    </form>


</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button (click)="onSubmit()">Save Service Call</button>
</mat-dialog-actions>


<br>
<br>
<h2>Service call logs</h2>

<mat-form-field appearance="fill">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="filter" #input>
</mat-form-field>


<div class="mat-elevation-z8">
    <mat-progress-bar *ngIf="!isProgress" mode="indeterminate"></mat-progress-bar>
    <table mat-table [dataSource]="dataSource" matSort>

        <ng-container *ngFor="let disCol of datas.key; let colIndex = index;" matColumnDef="{{datas.key[colIndex]}}">
            <th class="header" mat-header-cell *matHeaderCellDef mat-sort-header floatLabel="never">
                {{ datas.name[colIndex]|uppercase }}
            </th>
            <td mat-cell *matCellDef="let element">
                <div *ngIf="datas.link[colIndex]  === datas.key[colIndex] ">
                    <a class="table-link">
                        <span class="badge">{{ element[disCol] }}</span>
                    </a>
                </div>
                <div *ngIf="datas.link[colIndex]  != datas.key[colIndex] ">
                    <span  *ngIf="datas.key[colIndex]  != 'note_ts'" class="badge">{{ element[disCol] }}</span>
                    <span  *ngIf="datas.key[colIndex]  === 'note_ts'" class="badge">{{ element[disCol] | date:'MM/dd/yyyy hh:mm a' }}</span>
                    <span class="badge">{{ element[disCol] }}</span>
                </div>

            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="datas.key"></tr>
        <tr mat-row *matRowDef="let row; columns: datas.key;"></tr>

        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>