
<h2 mat-dialog-title>Customer Info</h2>
<div class="dialog-content">
  <div class="options">
    <mat-list>
        <mat-list-item class="option" [ngClass]="{ 'selected': selectedOption === 1 }" (click)="showOption(1)">
           Edit Customer 
         </mat-list-item>
       <mat-list-item class="option" [ngClass]="{ 'selected': selectedOption === 2 }" (click)="showOption(2)">
        customer location info
       </mat-list-item>
       <mat-list-item class="option" [ngClass]="{ 'selected': selectedOption === 3 }" (click)="showOption(3)">
         Add New location
       </mat-list-item>
      <mat-list-item class="option" [ngClass]="{ 'selected': selectedOption === 4 }" (click)="showOption(4)">
        Customer Location Alt Address
      </mat-list-item>
    </mat-list>
  </div>
  <div class="option-data">
    <ng-container *ngIf="selectedOption === 1">
        <form [formGroup]="editcustomerForm" (ngSubmit)="onSubmitc()">
            <mat-form-field>
              <mat-label>Customer Name</mat-label>
              <input matInput formControlName="customer_name">
            </mat-form-field>
            
            <mat-form-field>
              <mat-label>Short Name</mat-label>
              <input matInput formControlName="short_name">
            </mat-form-field>
            
            <mat-form-field>
              <mat-label>Contact Name</mat-label>
              <input matInput formControlName="contact_name">
            </mat-form-field>
            
            <mat-form-field>
              <mat-label>Mail Address</mat-label>
              <input matInput formControlName="mail_address">
            </mat-form-field>
            
            <mat-form-field>
              <mat-label>Mobile Number</mat-label>
              <input matInput formControlName="mobile_number">
            </mat-form-field>
            
            <mat-form-field>
              <mat-label>Statement Name</mat-label>
              <input matInput formControlName="statement_name">
            </mat-form-field>
            
            <mat-form-field>
              <mat-label>Name Soundex</mat-label>
              <input matInput formControlName="name_soundex">
            </mat-form-field>
            
            <mat-form-field>
              <mat-label>Address ID</mat-label>
              <input matInput formControlName="address_id">
            </mat-form-field>
            <mat-form-field>
              <mat-label>Location Id</mat-label>
              <input matInput formControlName="location_id" placeholder="Primary Address ID">
              </mat-form-field>
              <mat-form-field>
                <mat-label>Address 1</mat-label>
              <input matInput  formControlName="address1" placeholder="Address 1" autocomplete="on">
              </mat-form-field>
              <mat-form-field>
                <mat-label>Address 2</mat-label>
              <input matInput formControlName="address2" placeholder="Address 2">
              </mat-form-field>
              <mat-form-field>
                <mat-label>City</mat-label>
              <input matInput formControlName="city" placeholder="City">
              </mat-form-field>
              <mat-form-field>
                <mat-label>Zip</mat-label>
              <input matInput formControlName="zip" placeholder="Zip">
              </mat-form-field>
              <mat-form-field>
                <mat-label>State</mat-label>
              <input matInput formControlName="state" placeholder="State">
              </mat-form-field>
              <mat-form-field>
                <mat-label>Country</mat-label>
              <input matInput formControlName="country" placeholder="Country">
              </mat-form-field>
              <mat-form-field>
                <mat-label>Contact Name</mat-label>
              <input matInput formControlName="contactName" placeholder="Contact Name">
              </mat-form-field>
              <mat-form-field>
                <mat-label>Contact Phone 1</mat-label>
              <input matInput formControlName="phone1" placeholder="Contact Phone 1">
              </mat-form-field>
              <mat-form-field>
                <mat-label>Contact Phone 2</mat-label>
              <input matInput formControlName="phone2" placeholder="Contact Phone 2">
              </mat-form-field>
              <mat-form-field>
                <mat-label>Fax</mat-label>
              <input matInput formControlName="fax" placeholder="Contact Fax">
              </mat-form-field>
              <mat-form-field>
                <mat-label>Term</mat-label>
              <input matInput formControlName="cntcprsn" placeholder="Term">
              </mat-form-field>
              <mat-form-field>
                <mat-label>Shipping Account Number</mat-label>
              <input matInput formControlName="shipping_account_number" placeholder="Shipping Account Number">
              </mat-form-field>
              <mat-form-field>
              <mat-label>Sales Rep</mat-label>
              <mat-select formControlName="salesRep">
                  <mat-option value="option1">option1</mat-option>
                  <mat-option value="option2">option2</mat-option>
              </mat-select>
              </mat-form-field>
              <mat-checkbox formControlName="do_not_use">Do not use location</mat-checkbox>
              <mat-checkbox formControlName="hold_for_address_1">On hold</mat-checkbox>
              <mat-checkbox formControlName="isactive">Inactive</mat-checkbox>
              <mat-checkbox formControlName="receiveEdiCalls">Receive EDI calls</mat-checkbox>
              <mat-checkbox formControlName="enableEdiUpdates">Enable EDI Updates</mat-checkbox>
            
            <button mat-raised-button color="primary" type="submit">Update Customer</button>
          </form>
      </ng-container>
    <ng-container *ngIf="selectedOption === 2">
        <mat-form-field appearance="fill">
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="filter" #input>
        </mat-form-field>
        
        <div class="mat-elevation-z8">
            <mat-progress-bar *ngIf="!isProgress" mode="indeterminate"></mat-progress-bar>
            <table mat-table [dataSource]="dataSource" matSort>
        
              
        
                <!-- Add new matColumnDef for edit button -->
                <ng-container matColumnDef="edit">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element">
                       <!--  <button mat-icon-button  >
                            <mat-icon>edit</mat-icon>
                        </button> -->
                    </td>
                </ng-container>
                <ng-container *ngFor="let disCol of locatioData.key; let colIndex = index;" matColumnDef="{{locatioData.key[colIndex]}}">
                    <th class="header" mat-header-cell *matHeaderCellDef mat-sort-header floatLabel="never">
                        {{ locatioData.name[colIndex]|uppercase }}
                    </th>
                    <td mat-cell *matCellDef="let element">
                        <div *ngIf="locatioData.link[colIndex]  === locatioData.key[colIndex] ">
                            <a (click)=" locationedit(element)"  class="table-link">
                                <span class="badge">{{ element[disCol] }}</span>
                            </a>
                        </div>
                        <div *ngIf="locatioData.link[colIndex]  != locatioData.key[colIndex] ">
                            <span class="badge">{{ element[disCol] }}</span>
                        </div>
        
                    </td>
                </ng-container>
        
                <tr mat-header-row *matHeaderRowDef="locatioData.key.concat('edit')"></tr>
                <tr mat-row *matRowDef="let row; columns: locatioData.key.concat('edit')"></tr>
        
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                </tr>
            </table>
        
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
        </div>
        
        
    </ng-container>
    <ng-container *ngIf="selectedOption === 3">
        <h2 mat-dialog-title>Add New Location</h2>
        <div mat-dialog-content>
        <form [formGroup]="customerForm">
            <mat-form-field>
              <mat-label>Primary address ID</mat-label>
            <input matInput formControlName="location_id" placeholder="Primary Address ID">
            </mat-form-field>
            <mat-form-field>
              <mat-label>Address 1</mat-label>
            <input matInput  formControlName="address1" placeholder="Address 1" autocomplete="on">
            </mat-form-field>
            <mat-form-field>
              <mat-label>Address 2</mat-label>
            <input matInput formControlName="address2" placeholder="Address 2">
            </mat-form-field>
            <mat-form-field>
              <mat-label>City</mat-label>
            <input matInput formControlName="city" placeholder="City">
            </mat-form-field>
            <mat-form-field>
              <mat-label>Zip</mat-label>
            <input matInput formControlName="zip" placeholder="Zip">
            </mat-form-field>
            <mat-form-field>
              <mat-label>State</mat-label>
            <input matInput formControlName="state" placeholder="State">
            </mat-form-field>
            <mat-form-field>
              <mat-label>Country</mat-label>
            <input matInput formControlName="country" placeholder="Country">
            </mat-form-field>
            <mat-form-field>
              <mat-label>Contact Name</mat-label>
            <input matInput formControlName="contactName" placeholder="Contact Name">
            </mat-form-field>
            <mat-form-field>
              <mat-label>Contact Phone 1</mat-label>
            <input matInput formControlName="phone1" placeholder="Contact Phone 1">
            </mat-form-field>
            <mat-form-field>
              <mat-label>Contact Phone 2</mat-label>
            <input matInput formControlName="phone2" placeholder="Contact Phone 2">
            </mat-form-field>
            <mat-form-field>
              <mat-label>Fax</mat-label>
            <input matInput formControlName="fax" placeholder="Contact Fax">
            </mat-form-field>
            <mat-form-field>
              <mat-label>Term</mat-label>
            <input matInput formControlName="cntcprsn" placeholder="Term">
            </mat-form-field>
            <mat-form-field>
              <mat-label>Shipping Account</mat-label>
            <input matInput formControlName="shipping_account_number" placeholder="Shipping Account Number">
            </mat-form-field>
            <mat-form-field>
            <mat-label>Sales Reprsentative</mat-label>
            <mat-select formControlName="salesRep">
                <mat-option value="option1">option1</mat-option>
                <mat-option value="option2">option2</mat-option>
            </mat-select>
            </mat-form-field>
            <mat-checkbox formControlName="do_not_use">Do not use location</mat-checkbox>
            <mat-checkbox formControlName="hold_for_address_1">On hold</mat-checkbox>
            <mat-checkbox formControlName="isactive">Inactive</mat-checkbox>
            <mat-checkbox formControlName="receiveEdiCalls">Receive EDI calls</mat-checkbox>
            <mat-checkbox formControlName="enableEdiUpdates">Enable EDI Updates</mat-checkbox>
        </form>
        </div>
        
        <div mat-dialog-actions>
          <button type="submit" (click)="onSubmit()" mat-button color="primary" >Submit</button>
          <button  (click)="showOption(4)" mat-raised-button color="primary" >Alt Address</button>
        </div>
    </ng-container>

    <!--  -->
    <ng-container *ngIf="selectedOption === 4">
        <h2 mat-dialog-title>Customer Location Alternate Address</h2>
        <div mat-dialog-content>
        <form [formGroup]="customerForm">
            <mat-form-field>
            <input matInput formControlName="customer_id" placeholder="Customer ID">
            </mat-form-field>
            <mat-form-field>
            <input matInput formControlName="location_id" placeholder="Location ID">
            </mat-form-field>
            <mat-form-field>
            <input matInput formControlName="location_id" placeholder="Address Type">
            </mat-form-field>
            <mat-form-field>
            <input matInput formControlName="location_id" placeholder="Address Name">
            </mat-form-field>
            <mat-form-field>
            <input matInput  formControlName="address1" placeholder="Address 1" autocomplete="on">
            </mat-form-field>
            <mat-form-field>
            <input matInput formControlName="address2" placeholder="Address 2">
            </mat-form-field>
            <mat-form-field>
            <input matInput formControlName="city" placeholder="City">
            </mat-form-field>
            <mat-form-field>
            <input matInput formControlName="zip" placeholder="Zip">
            </mat-form-field>
            <mat-form-field>
            <input matInput formControlName="state" placeholder="State">
            </mat-form-field>
            <mat-form-field>
            <input matInput formControlName="country" placeholder="Country">
            </mat-form-field>
            <mat-form-field>
            <input matInput formControlName="contactName" placeholder="Contact Name">
            </mat-form-field>
        </form>
        </div>
        <div mat-dialog-actions>
        <button type="submit" (click)="onSubmit()" mat-button color="primary" >Save</button>
        <button type="submit"  mat-button color="primary" >Delete</button>
        </div>
    </ng-container>
    <!--  -->


    <ng-container *ngIf="selectedOption === 5">
      <p>Option 3 Data</p>
    </ng-container>
    <mat-dialog-actions style="display: flex; justify-content: flex-end; margin-top: auto;">
        <button mat-button (click)="close()">Close</button>
      </mat-dialog-actions>
  </div>
</div>