table {
    width: 100%;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

.filter {
    display: block;
}
.table-link {
    text-decoration: none;
    color: #6068c0;
    cursor: pointer;
}

